<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>769596158026-0mov43hfr2q2uqe85sgdt097oaibdtpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769596158026-0mov43hfr2q2uqe85sgdt097oaibdtpv</string>
	<key>API_KEY</key>
	<string>AIzaSyAyah2JDWqkBpI4ia7gK_Gq1kjz1BMarmI</string>
	<key>GCM_SENDER_ID</key>
	<string>769596158026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awesome.FON</string>
	<key>PROJECT_ID</key>
	<string>fon-kakaton</string>
	<key>STORAGE_BUCKET</key>
	<string>fon-kakaton.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:769596158026:ios:6e1e83f20f1ab394</string>
	<key>DATABASE_URL</key>
	<string>https://fon-kakaton.firebaseio.com</string>
</dict>
</plist>